{
    "globals": {
        "console": false,
        "jasmine": false,
        "describe": false,
        "it": false,
        "module": false,
        "inject": false,
        "beforeEach": false,
        "expect": false,
        "$": false,
        "angular": false
    }
}
